<?php
/** @var \Main\View\Base $this */
$form = $this->createBootstrapForm($this->form);

/** @var \Main\Model\Entry\Group $group */
$group = $this->group;
$entries = $group->getEntries();

$difficulties = [
    \Main\Model\Entry::DIFFICULTY_LOW => 0,
    \Main\Model\Entry::DIFFICULTY_MEDIUM => 0,
    \Main\Model\Entry::DIFFICULTY_HIGH => 0,
];

foreach ($entries as $entry) {
    $difficulties[ $entry->getDifficulty() ]++;
}

/** @var \Main\Model\Settings $settings */
$settings = $this->settings;
?>
<p class="text-right">
<?= $settings->hasGroup($group->id())
    ? $this->linkTo('Usuń tę grupę z moich ustawień', '/settings/remove-group/' . $group->id(), [ 'class' => 'btn btn-outline-danger', 'back' => true, ])
    : $this->linkTo('Dodaj tę grupę do moich ustawień', '/settings/add-group/' . $group->id(), [ 'class' => 'btn btn-outline-success', 'back' => true, ]) ?>
</p><hr />
<h1><?= $this->getTitle() ?>
    <span class="badge badge-secondary"><?= count($entries) ?></span>
</h1>

<table class="table">
<?php foreach ($difficulties as $difficulty => $count): ?>
    <tr>
        <td><?= $this->t('difficulty.' . $difficulty) ?></td>
        <td><?= $count ?></td>
    </tr>
<?php endforeach; ?>
</table>

<hr />
<?= $form->start() ?>
<div class="form-row">
    <div class="col"><?= $form->text('name') ?></div>
    <div class="col-3"><?= $form->select('difficulty') ?></div>
</div>
<?= $form->textarea('description') ?>
<?= $form->button('submit') ?>
<?= $form->end() ?>
