<?php
/** @var \Main\View\Base $this */
$form = $this->createBootstrapForm($this->form);

/** @var \Main\Model\Entry\Group $group */
$group = $this->group;
$entries = $group->getEntries();

/** @var \Main\Model\Settings $settings */
$settings = $this->settings;
?>
<small class="float-right">
<?= $settings->hasGroup($group->id())
    ? $this->linkTo('Usuń grupę z moich ustawień', '/settings/remove-group/' . $group->id(), [ 'class' => 'btn btn-outline-danger', 'back' => true, ])
    : $this->linkTo('Dodaj grupę do moich ustawień', '/settings/add-group/' . $group->id(), [ 'class' => 'btn btn-outline-success', 'back' => true, ]) ?>
</small>
<h1><?= $this->getTitle() ?>
    <span class="badge badge-secondary"><?= count($entries) ?></span>
</h1>

<table class="table d-none">
<?php foreach ($entries as $entry): ?>
    <tr>
        <td><?= $entry->getName() ?></td>
        <td><?= $this->t($entry->showDifficulty()) ?></td>
    </tr>
<?php endforeach; ?>
</table>

<hr />
<?= $form->start() ?>
<div class="form-row">
    <div class="col"><?= $form->text('name') ?></div>
    <div class="col-2"><?= $form->select('difficulty') ?></div>
    <div class="col-2"><?= $form->button('submit') ?></div>
</div>
<?= $form->end() ?>
